<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="Titulo">
    <h1>Pagina Web</h1>
    </div>
    <div class="Biografia">
        <p><br><br><br>Lorem ipsum dolor sit amet. Id dolorem officia eos rerum consequatur aut<br> consequatur labore ea consequatur nesciunt qui asperiores voluptatem qui<br> dolorem aperiam. Sed beatae ipsa et ipsa facere ut odit adipisci.

            <br>Ut sequi dolorem et fuga internos sit consequatur praesentium. Aut quam iure<br> et voluptatem labore qui cumque libero sit facere placeat ut esse voluptates.<br>
            
            Ut autem cupiditate est voluptas recusandae sit quisquam deserunt At dignissimos<br> laudantium et praesentium voluptas qui mollitia itaque qui repellat dolorem! Id saepe<br> exercitationem in sint pariatur ea quia explicabo aut veniam ratione et ipsa voluptatum <br>ut placeat voluptatum</h3>
        </p>

        <img class="Imagen" src="/static/OIP (3).jpg">
        <div class="imga">
            <img class="Imagen" src="/static/2820590.jpg" width="300px" height="400px" align="right">
        </div>
         
        
        <div class="header">
            <div class="side-nav">
                <div class="user">
                    <h2></h2>
                    <p></p>
                </div>
                </div>
                
            </div>


</body>
</html>